body {
  background: #f2f2f2;
}
legend {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}

fieldset {
  border-color: beige;
  border-width: 2px;
}

.titulo {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  text-align: center;
  color: #2c3e50;
}
