.error-focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 70, 0.562);
  animation: pulse 1s ease-in-out 2;
}

.form-select {
  border: 2px solid #495057d2 !important;
}
.form-control {
  border: 2px solid #495057d2 !important;
}
.form-check-input {
  border: 2px solid #495057d2 !important;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-control:disabled,
.form-select:disabled {
  opacity: 0.6 !important;
  background-color: #e9ecef !important;
  color: #495057 !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.35);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  }
}
